/* i hve told you countless times that you should always put ut css in another folder */

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;

}
/* always specify/set your fonts first in the body */
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#head{
    background-color: rgb(12, 3, 29);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#a{

    color: antiquewhite;
    font-family:cursive;
    font-size: 15px;
    margin-left: 10px;
}
#menu-bar{
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
}
#btn1{
    text-decoration: none;
    color: antiquewhite;
    font-size: 18px;
    margin-top: 30px;
    padding: 30px;
    text-align: center;
}
#hero-section{
    display: flex;
    justify-content: space-between;
    background-color: rgb(5, 5, 63);
}
#image{
  margin: 50px;

}
#sidea{
    display: block;
    justify-content: space-around;
    color: white;
    margin: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
  
}
#btn2{
    background-color: rgb(221, 13, 13);
    padding: 15px;
    width: 30px;
    color: white;          
    text-decoration: none;
    text-align: center;
   
   
}
#btn2:hover{

    border-bottom: 5px solid white;

}
#btn1:hover{
  border-bottom: 1px solid white;
  
}
p{
    margin-bottom: 50px;
    line-height: 1.5;
}
