*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
.a {
    background-color: rgb(196, 202, 195);
    display: flex;
    justify-content: space-between;
    padding:7.5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
   
}
nav {
    background-color: whitesmoke;
    color: rgb(37, 107, 5);
    display: flex;
    justify-content: space-between;
    padding: 20px;
   
    border-bottom: 1px solid black;
}
.body {
    background: url(cjhm.jpeg);
   width:100%;
   height: 55vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;  
    position: relative;  
}
.b {
    text-align: center;
    color: white;
    position: absolute;
    left: 35%;
    top: 20%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 400px;
    font-style: oblique;
    
}
.main {
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9 );
}
p {
    margin-top: 10px;
    font-size: larger;
}
.menu{
   margin-left: 100px;
   text-decoration: none;
   color: black;
}
.menu2{
   margin-left: 100px;
   text-decoration: none;
   color: black;
}
