*{
    padding: 0%;
    box-sizing: border-box;
    margin: 0%;
}
body {
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

/* utilities */
span{
    width: 300px;
}
.answer{
    color: grey;
}

.start-section{
    height: 280px;
    width: 100vw;
    background-image: url('./bgsvg.svg');
}
.content-section{
    position: relative;
    z-index: 2;
    background-color:hsl(275, 100%, 97%);
    height: 500px;
    width: 100vw;
}
.container {
    max-width: 400px;
    width: 100%;
}
.faq-card {
    background: white;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(red, green, blue, 0.1);
    width: 500px;
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
}
.title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}
.item {
    margin-bottom: 18px;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    
}
.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
}
.toggle {
    width: 32px;
    height: 32px;
    border: none;
    font-size: 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(180, 67, 180);
    border-radius: 50%;
    padding: 5px;
    text-align: center;
    margin-left: 40px;
   
}


/* ---------------------------------------------------- */
    /* MEDIA QUERY */
/* ---------------------------------------------------- */

@media (max-width: 768px) {

    .faq-card {
        width: 90%;
        padding: 25px; 
        top: -100px;
    }

    .title {
        font-size: 28px; /
    }

    .toggle {
        width: 28px;
        height: 28px;
        font-size: 14px;
        padding: 4px;
        margin-left: 20px; 
    }

    .container {
        max-width: 100%;
        padding: 0 15px;
    }

    .start-section {
        height: 200px; 
    }

    .content-section {
        padding-bottom: 50px;
    }

    span {
        width: 100%; 
    }
}


@media (max-width: 480px) {
    .faq-card {
        padding: 20px;
        top: -80px;
    }

    .title {
        font-size: 24px;
    }

    .toggle {
        width: 24px;
        height: 24px;
        font-size: 12px;
        margin-left: 15px;
    }
}
