*{
    padding: 0%;
    box-sizing: border-box;
    margin: 0%;
}
body {
    background: rgb(119, 86, 209);
    background: url(/Untitled\ design\ \(63\).jpg);
    background-repeat: no-repeat;
    background-position:inherit;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    min-height: 100vh;
}
.container {
    max-width: 400px;
    width: 100%;
}
.faq-card {
    background: white;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(red, green, blue, 0.1);
}
.title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}
.item {
    margin-bottom: 18px;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}
.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.toggle {
    border: 2px solid rgb(180, 67, 180);
    font-size: 15px;
   color: white;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(180, 67, 180);
    border-radius: 50%;
    padding: 3px;
    align-items: center;
    
    
   

}